## ❌ DO NOT EDIT - MAKE A COPY
# Q1: Alphabet Slices
* Store the first ten letters of the alphabet in a list.
* Use a slice to print out the first three letters of the alphabet.
* Use a slice to print out any three letters from the middle of your list.

In [5]:
# Solve Alphabet slices here. 
## Extra Credit:  Do this without 'hard coding' the alpahbet.
Alphabet = ['a', 'b', 'c','d','e','f','g','h','i','j']

print(Alphabet[0:3])

print(Alphabet[4:7])

['a', 'b', 'c']
['e', 'f', 'g']

# Q2:  Covert all the rapper names to title case and save them into a new different list. 
Example: **lil wayne** becomes **Lil Wayne**

In [ ]:
# Solve rapper names here
rappers = ['lil wayne', 'nicki minaj', 'drake']

title_rapper = [name.title() for name in rappers]

print(title_rapper)

['Lil Wayne', 'Nicki Minaj', 'Drake']

# Q3: Write a function that takes a number and returns:
* True if the input number is even.
* False if the input number is odd.

In [11]:
# Solve problem here
def even_odd(lst):
   if lst % 2 == 0:
      return True
   else:
      return False
   
even_odd(10)

True

# Q4: Find the sum and the average of this list of numbers.

Try doing this using a loop.  Then try doing this without using a loop.

In [ ]:
# Solve problem here:

my_list = [1, 5, 10, 55, 88, 44, 42, 50, 20, 38]
# using loop
x = 0 
for num in my_list:
    x += num

list_sum = x
list_average = x/ len(my_list)


#without using loop

list_sum = sum(my_list)
list_average = sum(my_list)/len(my_list)


# Keep this as your last line in this cell.
print(list_sum, list_average)

353 35.3

# Q5: 
## Write a function that takes a list and returns a new list that has all the duplicates removed.

Example input and expected output:
- input = `["Michele", "Robin", "Sara", "Michele"]`
- expected output = `['Michele', 'Robin', 'Sara']`

In [24]:
# Solve problem here:

names = ["Michele", "Robin", "Sara", "Michele"]


def remove_dupe(input_list):
    return set(input_list)

remove_dupe(names)

{'Michele', 'Robin', 'Sara'}

# Q6: Write a function that takes a list of numbers 
(for example, `a = [5, 10, 15, 20, 25]`) and returns a new list of only the first and last elements of the given list.

Example input and expected output:
- input = `[5, 10, 15, 20, 25]`
- expected output = `[5, 25]`

In [27]:
# Solve problem here:
input_list = [5, 10, 99, 20, 25]

def remove_first_last(list_nums):
    return [list_nums[0] , list_nums[-1]]

remove_first_last(input_list)

[5, 25]

# Q7: 
## Implement a function that takes as input three variables, and returns the largest of the three. 
### Try doing this without using the `max()` function!

_**Note:** all three input numbers will always be different, no need to account for a tie._

Example input and expected output:
- input: `your_function(1, 5, 10)`
- expected output:  `10`

In [ ]:
# Solve Problem here:

def my_max(a, b, c):
    if a > b and a > c:
        return a
    elif b > a and b > c:
        return b
    else:
        return c

In [29]:
# Test to see if your function works properly.
my_max(1, 5, 10)

10

# Q8: Write a function that takes a number as input and returns the following:
* If the input is divisible by three, return `'fizz'`
* If the input is divisible by five, return `'buzz'`
* If the input is divisible by three and by five, return `'fizzbuzz'`
* If the input is not divisible by three or five, return `None`.

In [36]:
# Solve Problem fizzbuzz here:
def fizzbuzz(num):
    if num % 3 == 0 and num % 5 == 0:
        return 'fizzbuzz'
    elif num % 5 == 0 :
        return 'buzz'
    elif num % 3 == 0 :
        return 'buzz'
    else:
        return 'none'
    
fizzbuzz(15)

'fizzbuzz'